.para {
    color: red;
    
}

.text .child {
    color: red;
    font-size: 12px;
}

.text {
    color: green;
}

#confirm-button {
    color: white;
    background-color: green;
    font-size: 28px;
    font-weight: bold;
}

#cancel-button {
    color: black;
    background-color: white;
    font-size: 28px;
}

.para.small-para {
    font-size: 12px;
}
